<% if (storage.length> 0) { %>
    <% storage.forEach((element, index)=> { %>
        <div>
            <h1>
                <%= element.heading %>
            </h1>
            <div>
                <%= element.body %>
            </div>
            <button onclick="deleteItem(<%= index %>)">Delete <%= index %></button>
        </div>
        <% }); %>
            <% } else { %>
                <div>No data available</div>
                <% } %>