<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>

  <body>
    <% if(data&&data.heading) { %>
    <h1><%= data.heading %></h1>
    <% } %> <% if(data&& !data.image=="") { %>
    <img src="<%= data.image %>"/>
    <% } %> <% if(data&&data.firstPara) { %>
    <div><%= data.firstPara %></div>
    <% } %> <% if(data&&data.secondPara) { %>
    <div><%= data.secondPara %></div>
    <% } %>
  </body>
</html>
