<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/styles/output.css" /> -->
  </head>

  <body>
    <form action="/create" method="post">
      <label for="heading">Heading</label>
      <input
        id="heading"
        type="text"
        name="heading"
        required
        autocomplete="off"
      />
      <label for="image">Image</label>
      <input
        id="image"
        type="text"
        name="image"
        placeholder="Enter a valid url"
      />
      <label for="firstPara">First Paragraph</label>
      <input
        id="firstPara"
        type="text"
        name="firstPara"
        id=""
        required
        autocomplete="off"
      />
      <label for="secondPara">Second Paragraph</label>
      <input
        id="secondPara"
        type="text"
        name="secondPara"
        id=""
        autocomplete="off"
      />
      <label for="author">author</label>
      <input id="author" type="text" name="author" id="" autocomplete="off" />
      <input type="submit" />
    </form>
  </body>
</html>
