<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>

  <body>
    <a class="text-6xl text-cyan-800" href="/create">create</a>
    <div class="blogs">
      <h1 class="text-4xl font-medium ml-12">Blogs</h1>

      <div class="bg-white">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="pt-5 mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-6 border-t border-gray-200 sm:mt-5 lg:mx-0 lg:max-w-none lg:grid-cols-2"
          >
            <% if (storage.length> 0) { %> <% storage.forEach((element, index)=>
            { %>
            <article class="flex max-w-xl flex-col items-start justify-between">
              <div class="flex items-center gap-x-4 text-xs">
                <time datetime="2020-03-16" class="text-gray-500"
                  ><%= new Intl.DateTimeFormat('en-US', { year: 'numeric',
                  month: '2-digit', day: '2-digit', hour: '2-digit', minute:
                  '2-digit'}).format(element.updatedAt) %></time
                >
              </div>
              <div class="group relative">
                <h3
                  class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
                >
                  <a href="/visit/<%= element.id %>">
                    <span class="absolute inset-0"></span>
                    <%= element.heading %>
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                  <%= element.firstPara %>
                </p>
              </div>
              <div class="relative mt-8 flex items-center gap-x-4">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900"></p>
                </div>
              </div>
            </article>
            <% });} else { %>
            <div>No data available</div>
            <% } %>

            <!-- More posts... -->
          </div>
        </div>
      </div>
    </div>

    <script src="./script/script.js"></script>
  </body>
</html>
